<h1>Submit a Question:</h1>

<error><%= @errors[0] if @errors %></error>
<form action="/questions" method="post">
  <input type="hidden" name="question[user_id]" value="<%= @user.id %>"><br/>
  <input type="text" name="question[title]" placeholder="Question Title"><br/>
  <textarea name="question[text]" placeholder="Question" size="30" rows="8"></textarea><br/>
  <input type="submit" value="Submit">
</form>
