<div class="container">
<h1>User comments</h1>


  <ul>
  <% @comments.each do |comment| %>
  <li><%= comment.text %></li>
  <% end %>
  </ul>


<h2>Your Answers:</h2>
  <ul>
  <% @answers.each do |answer| %>
  <li><%= answer.text %></li>
  <% end %>
  </ul>
</div>
