<h1>List all user's comments</h1>

<h2>Your Comments:</h2>
  <ul>
  <% @comments.each do |comment| %>
  <li><%= comment.text %></li>
  <% end %>
  </ul>

<h2>Your Answers:</h2>
  <ul>
  <% @answers.each do |answer| %>
  <li><%= answer.text %></li>
  <% end %>
  </ul>

  