<h1>Submit an Answer:</h1>

<error><%= @errors[0] if @errors %></error>
<h2>
<p>Question: <%=@question.title %></p>
</h2>
<form action="/questions/<%= @question.id %>/answers" method="post">
  <textarea name="answer[text]" placeholder="Type your brilliant answer..." cols="100" rows="8"></textarea><br/>
  <input type="submit" value="Submit Answer">
</form>
