<div class="user_login">
  <% if current_user %>
    <form action="/sessions" method="POST" id="logout-button">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Logout">
    </form>&nbsp;&nbsp;|&nbsp;
    <a href="/">Home</a>&nbsp;&nbsp;|&nbsp;
    <a href="/users/<%= current_user.id %> ">Profile</a>


  <% else %>

    <% if @errors %>
      <% @errors.each do |error_message| %>
        <%= error_message %>
      <% end %>
    <% end %>

    <form action="/sessions" method="POST">
    <a href="/users/new">Register</a>&nbsp;&nbsp;|&nbsp;
      <label>Email:</label>
      <input type="email" name="email">

      &nbsp;<label>Password:</label>
      <input type="password" name="password">

      <input type="submit" value="Login">
    </form>


  <% end %>
</div>

